{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">About blog page</small>
            </div>
            <h2> Blog Django posts</h2>
            <small class="text-muted">All day log we play monopoly</small>
            <p class="article-content">Learning Django patterns</p>
            <p class="article-content">It all goes back in the box</p>
        </div>
    </article>
{% endblock %}